#fs-tools-spreadsheet-output {
	display: none;
	height: 200px;
	background-color: green;
	-moz-box-shadow: inset 0 0 20px #000000;
	-webkit-box-shadow: inset 0 0 20px #000000;
	box-shadow: inset 0 0 20px #000000;
}

#fs-tools-spreadsheet-output textarea {
	height: 180px;
}

#fs-tools-done {
	height: 5px;
	width: 100%;
	background-color: green;
}